* {
  margin: 0;
  padding: 0;
}

.display-2 {
  color: #a569bd;
  text-align: center;
  background-color: black;
  height: 50px;
}

.parrafo-1 {
  color: rgb(0, 0, 0);
}
.card__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.card {
  margin: 2rem;
  max-width: 300px;
  padding: 2rem;
  box-shadow: 0 10px 30px -10px rgb(0, 0, 0.45);
}
.card--light {
  background: white;
}
.card__imagen {
  width: 100%;
  height: 200px;
}

.youtube-VIDEO {
  margin: 1rem;
  max-width: 500px;
  max-height: 300px;
  display: inline-block;
  justify-content: space-around;
}

.google-maps {
  margin: 1rem;
  max-width: 500px;
  max-height: 300px;
  display: inline-block;
  justify-content: space-around;
}

.conteiner__1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #997d7d;
  margin: 2rem;
}

.logo__palcos {
  width: 150px;
  height: 150px;
}

.nav__list {
  margin: 55px;
  display: flex;
  list-style-type: none;
}

.nav__link {
  margin-left: 20px;
  font-size: 20px;
  height: 30px;
}

header {
  position: sticky;
  top: 0%;
}

body {
  background-color: #023141;
  background-size: cover;
  background-attachment: fixed;
}

.letra__titulo {
  color: #997d7d;
  font-size: 48px;
  align-items: center;
  text-align: center;

  margin: 2rem;
}

.parra__fo {
  color: #997d7d;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  font-size: 20px;
}

.logo__igwh {
  display: block;
  margin: 10rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: #997d7d;
}

.formu__lario {
  display: block;
  margin: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #997d7d;
  font-size: 28px;
}
.vido__maps {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.index__par {
  margin: 2rem;
  max-width: 300px;
  padding: 2rem;
  box-shadow: 0 10px 30px -10px rgb(0, 0, 0.45);
  background-color: #022c3a;
  color: #997d7d;
  font-size: 20px;
}
.parra__fu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.list__b {
  list-style-type: none;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.list__a {
  color: #ffffff;
  height: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 6px;
}

.conteiner__2 {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 1rem;
  background-color: #052e3c;
  padding: 1rem;
  box-shadow: 0 10px 30px -10px rgb(0, 0, 0.45);
}
.bo__ton {
  display: inline-block;
  padding: 1rem 2rem;
  background: black;
  color: #e7d8d8;
  border-radius: 2rem;
  border: none;
  outline: 2px solid #997d7d;
  outline-offset: 3px;
  font-size: 20px;
  margin: 1rem;
}
.bo__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

@media (min-width: 1324px) {
  .imagen__edi {
    height: 350px;
    width: 700px;
  }
  .imagen__edi12 {
    display: none;
    width: 0px;
    height: 0px;
    clear: both;
  }
  .ubica__tion {
    width: 700px;
    height: 600px;
    padding: 2rem;
  }
}

@media (max-width: 1323px) {
  .list__a {
    display: inline-block;
  }
  .imagen__edi {
    width: 530px;
    height: 250px;
  }
  .imagen__edi12 {
    width: 530px;
    height: 250px;
  }
  .ubica__tion {
    width: 600px;
    height: 500px;
    padding: 2rem;
  }
}

@media (max-width: 1003px) {
  .imagen__edi {
    height: 190px;
    width: 350px;
  }
  .imagen__edi12 {
    height: 190px;
    width: 350px;
  }
  .conteiner__2 {
    display: grid;
    grid-template-columns: auto;
    height: 800px;
  }
  .ubica__tion {
    width: 300px;
    height: 250px;
    padding: 2rem;
  }
}
